Admin side code/xml-resources/web-service-references/AdminSide/wsdl/datamanipulation-rohatgisanat.rhcloud.com_80/MIS/AdminSide.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Admin/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Admin/">

<xs:element name="deletion" type="tns:deletion" />

<xs:element name="deletionResponse" type="tns:deletionResponse" />

<xs:element name="insertion" type="tns:insertion" />

<xs:element name="insertionResponse" type="tns:insertionResponse" />

<xs:complexType name="deletion">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertion">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="age" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>