Client_Admin codes/Client side code/xml-resources/web-service-references/ClientSide/wsdl/datamanipulation-rohatgisanat.rhcloud.com_80/MIS/ClientSide.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Client/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Client/">

<xs:element name="NoOfPeople" type="tns:NoOfPeople" />

<xs:element name="NoOfPeopleResponse" type="tns:NoOfPeopleResponse" />

<xs:element name="count" type="tns:count" />

<xs:element name="countResponse" type="tns:countResponse" />

<xs:complexType name="count">
<xs:sequence />
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoOfPeople">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoOfPeopleResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>